/*   Index      styles   */

.index-grid-container {
    display: grid;
    gap: 5px 0px;
    width: 100%;
    grid-template-areas:
        "header"
        "nav"
        "contenedor"
}

.index-grid-item {
    text-align: center;
    padding: 5px;
    background-color: black;
}

.header{
    grid-area: header;
    background-color: black;
    color: aqua;
    h1{
        margin-block-start: 0.35em;
        margin-block-end: 0.35em;
    }
}

.nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    padding: 5px 0 5px 0;
    background-color: aquamarine;
    h3:hover{
        color:goldenrod;
    }
}

.header, .nav, .contenedor-prueba{
    border-radius: 10px;
}

.contenedor-prueba{
    grid-area: contenedor;
    height: 40vh;
    background-color: white;
    iframe{
        width: 100%;
        height: 100%;
    }
}

abbr{
    text-decoration: none;
}

/*  Inicio      styles  */

.inicio-grid-container {
    display: grid;
    gap: 5px 0px;
    width: 100%;
    grid-template-areas:
        "picture"
        "links"
        "devops"
        "footer"
}

.inicio-grid-item {
    text-align: center;
    padding: 5px;
    background-color: black;
}

.inicio-grid-item img {
    width: 200px;
}

.picture {
    display: flex;
    grid-area: picture;
    background-color: dodgerblue;
    justify-content: space-evenly;
}

.links{
    display: flex;
    grid-area: links;
    background-color: rebeccapurple;
    justify-content: space-evenly;
}

.devOps{
    grid-area: devops;
    background-color: white;
}

.footer{
    grid-area: footer;
    color: white;
    background-color: black;
}

/*  General     Styles  */

body {
    background-color: mediumpurple;
}

/* .titulo {
    color: aqua;
} */

h3{
    text-align: center;
    width: fit-content;
    margin-block: 0;
    margin: 0 5px 0 5px;
    color: rgb(175, 16, 48);
}

.b-body{
    display: grid;
    grid-template-areas: 
        "header header header"
        "imagen topM extra"
        "quiz quiz quiz"
        "menuI menuI menuI";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto, repeat(3, 1fr);
}

.menu{
    visibility: visible; /*Oculto momentaneamente, deja el espacio*/
    grid-area: menuI;
    justify-self: center;
    text-align: center;
    padding-top: 20px;
}

/*  The Warning     Styles  */
/*  Nomenclatura tW  */

.tW-body{  
    background-color: black;
    color: goldenrod;  
    section{
        padding: 20px;
    }
    input{
        background-color: red;
    }
    p{
        padding-left: 15px;
    }
}

.tW-header{
    grid-area: header;
    color: goldenrod;
    /* justify-self: center;
    background-color: gray;
    h1{
        text-align: center;
    } */
}

.tW-img{
    grid-area: imagen;
}

.tW-top{
    grid-area: topM;
}

.tW-extra{
    grid-area: extra;
}

.tW-quiz{
    grid-area: quiz;
}

/*  Avenged Sevenfold     Styles  */
/*  Nomenclatura a7  */

.a7-body{
    display: grid;
    grid-template-areas: 
        "header header header"
        "extra imagen topM"
        "extra quiz quiz"
        "menuI menuI menuI";
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 229, 163);
    color: black;
}

.a7-extra,.a7-header,.a7-img,.a7-quiz,.a7-top,.menu{
    border-radius: 10px;
    padding: 0 20px 0 20px;
}

.a7-header{
    grid-area: header;
    /* color:bisque; */
    color: black;
}

.a7-img{
    grid-area: imagen;
}

.a7-top{
    grid-area: topM;
}

.a7-extra{
    grid-area: extra;
    background-color: brown;
    /* padding: 0 15px 0 15px; */
}

.a7-quiz{
    grid-area: quiz;
    display: flex;
    flex-direction: column;
}

/*  Jinjer     Styles  */
/*  Nomenclatura jR  */

.jR-body{
    background-color: white;
    color: rgb(200, 0, 0);
}

.jR-header{
    grid-area: header;
    color: rgb(200, 0, 0);
}

.jR-img{
    grid-area: imagen;
}

.jR-top{
    grid-area: topM;
}

.jR-extra{
    grid-area: extra;
}

.jR-quiz{
    grid-area: quiz;
}

/*  Poppy     Styles  */
/*  Nomenclatura pY  */

.pY-body{
    background-color: white;
    color: rgb(200, 0, 0);
}

.pY-header{
    grid-area: header;
    color: rgb(200, 0, 0);
}

.pY-img{
    grid-area: imagen;
}

.pY-top{
    grid-area: topM;
}

.pY-extra{
    grid-area: extra;
}

.pY-quiz{
    grid-area: quiz;
}

/*  Spiritbox     Styles  */
/*  Nomenclatura sB  */

.sB-body{
    background-color: white;
    color: rgb(200, 0, 0);
}

.sB-header{
    grid-area: header;
    color: rgb(200, 0, 0);
}

.sB-img{
    grid-area: imagen;
}

.sB-top{
    grid-area: topM;
}

.sB-extra{
    grid-area: extra;
}

.sB-quiz{
    grid-area: quiz;
}

/*  Eminem     Styles  */
/*  Nomenclatura eM  */

.eM-body{
    background-color: white;
    color: rgb(200, 0, 0);
}

.eM-header{
    grid-area: header;
    color: rgb(200, 0, 0);
}

.eM-img{
    grid-area: imagen;
}

.eM-top{
    grid-area: topM;
}

.eM-extra{
    grid-area: extra;
}

.eM-quiz{
    grid-area: quiz;
}

/*  Daft Punk     Styles  */
/*  Nomenclatura dP  */

.dP-body{
    background-color: white;
    color: rgb(200, 0, 0);
}

.dP-header{
    grid-area: header;
    color: rgb(200, 0, 0);
}

.dP-img{
    grid-area: imagen;
}

.dP-top{
    grid-area: topM;
}

.dP-extra{
    grid-area: extra;
}

.dP-quiz{
    grid-area: quiz;
}

/*  Videoclub     Styles  */
/*  Nomenclatura vC  */

.vC-body{
    background-color: white;
    color: rgb(200, 0, 0);
}

.vC-header{
    grid-area: header;
    color: rgb(200, 0, 0);
}

.vC-img{
    grid-area: imagen;
}

.vC-top{
    grid-area: topM;
}

.vC-extra{
    grid-area: extra;
}

.vC-quiz{
    grid-area: quiz;
}

/*  Adelle Castillon     Styles  */
/*  Nomenclatura aC  */

.aC-body{
    background-color: white;
    color: rgb(200, 0, 0);
}

.aC-header{
    grid-area: header;
    color: rgb(200, 0, 0);
}

.aC-img{
    grid-area: imagen;
}

.aC-top{
    grid-area: topM;
}

.aC-extra{
    grid-area: extra;
}

.aC-quiz{
    grid-area: quiz;
}

/*  Three Days Grace     Styles  */
/*  Nomenclatura tD  */

.tD-body{
    background-color: white;
    color: rgb(200, 0, 0);
}

.tD-header{
    grid-area: header;
    color: rgb(200, 0, 0);
}

.tD-img{
    grid-area: imagen;
}

.tD-top{
    grid-area: topM;
}

.tD-extra{
    grid-area: extra;
}

.tD-quiz{
    grid-area: quiz;
}

